@charset "utf-8";
/* CSS Document */

/* 버튼 기본 스타일 ------------------------------- */
.btns {display:inline-block; padding:0 10px; height:28px; line-height:26px; text-align:center; vertical-align:middle; border-radius:3px; border:1px solid transparent; /* white-space:nowrap; */ font-weight:500; font-family:'Noto Sans KR', Dotum, Arial, tahoma, Helvetica, sans-serif;}
a.btns:hover, a.btns:focus, button.btns:hover, button.btns:focus, input.btns:hover, input.btns:focus {opacity:0.9;}
a.btns, button {cursor:pointer;}
button span {position:relative;}


.btns.primary {background:#fff; border:1px solid #b4b4b4; color:#666;}

.btn-1 {
  background: rgb(6,14,131);
  background: linear-gradient(0deg, rgba(6,14,131,1) 0%, rgba(12,25,180,1) 100%);
  border: none;
}

.star {
  display: inline-block;
  margin-right: 4px;
  color: gold; /* 별 모양의 색상 설정 */
  font-size: 16px; /* 별 모양의 크기 설정 */
}

.btn_st1 {background:#d74242; color:#fff;} /* 레드 */
.btn_st2 {background:#666; color:#fff;} /* 그레이 */
.btn_st3 {background:#139dc8; color:#fff;} /* 블루 */
.btn_st4 {background:#00bc8c; color:#fff;} /* 그린 */
.btn_st5 {background:#375a7f; color:#fff;} /* 네이비 */
.btn_st6 {background:#8a2be2; color:#fff;} /* 블루바이올렛 */


.btn_bdr1 {background:#fff; border:1px solid #d74242; color:#d74242;} /* 레드 */
.btn_bdr2 {background:#fff; border:1px solid #b4b4b4; color:#666;} /* 그레이 */
.btn_bdr3 {background:#fff; border:1px solid #199bc4; color:#199bc4;} /* 블루 */
.btn_bdr4 {background:#fff; border:1px solid #00bc8c; color:#00bc8c;} /* 그린 */
.btn_bdr5 {background:#fff; border:1px solid #375a7f; color:#375a7f;} /* 네이비 */
.btn_bdr6 {background:#fff; border:1px solid #d74242; color:#8a2be2;} /* 블루바이올렛 */


/* 사이즈 구분 */
.btn_mid {height:33px; line-height:31px;}
.btn_mid2 {height:25px; line-height:25px;}
.btn_xs {padding:0 7px; height:20px; line-height:20px; font-size:11px;}

.bt_icon {position:relative; padding-left:17px; display:inline-block;}
.bt_excel:before {background-position:0 -58px; width:12px; height:12px; position:absolute; top:50%; left:0; margin-top:-6px;} /* 엑셀 */
.bt_print:before {background-position:-15px -58px; width:13px; height:12px; position:absolute; top:50%; left:0; margin-top:-6px;} /* 프린트 */
.bt_pdf:before {background-position:-31px -58px; width:13px; height:12px; position:absolute; top:50%; left:0; margin-top:-6px;} /* pdf */

.btnW30 {min-width:30px;}
.btnW40 {min-width:40px;}
.btnW50 {min-width:50px;}
.btnW60 {min-width:60px;}
.btnW70 {min-width:70px;}

/* 버튼 그룹 */
.btn_set {text-align:center; margin:20px 0; overflow:hidden;}
.btn_set > button, .btn_set > a {border-radius:0;}

  .tb {
    width: 100%;
    border-collapse: collapse;
  }

  .tb th {
    text-align: center;
    background-color: #f2f2f2;
    padding: 10px;
  }

  .tb th button {
    display: block;
    width: 100%;
    border: none;
    background-color: #fff;
    cursor: pointer;
    padding: 6px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }

  .tb th button:hover {
    background-color: #e9e9e9;
  }

  .tb th strong {
    font-weight: bold;
  }

.button {
    --color: #1e2235;
    --color-hover: #1e2235;
    --color-active: #fff;
    --icon: #bbc1e1;
    --icon-hover: #8a91b4;
    --icon-active: #fff;
    --background: #fff;
    --background-hover: #fff;
    --background-active: #362a89;
    --border: #e1e6f9;
    --border-active: #362a89;
    --shadow: #{rgba(#001177, 0.025)};
    display: block;
    outline: none;
    cursor: pointer;
    position: relative;
    border: 0;
    background: none;
    padding: 8px 20px 8px 24px;
    border-radius: 9px;
    line-height: 27px;
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    color: var(--color);
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    transition: color 0.2s linear;
    &.dark {
        --color: #f6f8ff;
        --color-hover: #f6f8ff;
        --color-active: #fff;
        --icon: #8a91b4;
        --icon-hover: #bbc1e1;
        --icon-active: #fff;
        --background: #1e2235;
        --background-hover: #171827;
        --background-active: #275efe;
        --border: transparent;
        --border-active: transparent;
        --shadow: #{rgba(#001177, 0.16)};
    }
    &:hover {
        --icon: var(--icon-hover);
        --color: var(--color-hover);
        --background: var(--background-hover);
        --border-width: 2px;
    }
    &:active {
        --scale: 0.95;
    }
    &:not(.liked) {
        &:hover {
            --hand-rotate: 8;
            --hand-thumb-1: -12deg;
            --hand-thumb-2: 36deg;
        }
    }
    &.liked {
        --span-x: 2px;
        --span-d-o: 1;
        --span-d-x: 0;
        --icon: var(--icon-active);
        --color: var(--color-active);
        --border: var(--border-active);
        --background: var(--background-active);
    }
    &:before {
        content: "";
        min-width: 103px;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        border-radius: inherit;
        transition: background 0.2s linear, transform 0.2s,
            box-shadow 0.2s linear;
        transform: scale(var(--scale, 1)) translateZ(0);
        background: var(--background);
        box-shadow: inset 0 0 0 var(--border-width, 1px) var(--border),
            0 4px 8px var(--shadow), 0 8px 20px var(--shadow);
    }
    .hand {
        width: 11px;
        height: 11px;
        border-radius: 2px 0 0 0;
        background: var(--icon);
        position: relative;
        margin: 10px 8px 0 0;
        transform-origin: -5px -1px;
        transition: transform 0.25s, background 0.2s linear;
        transform: rotate(calc(var(--hand-rotate, 0) * 1deg)) translateZ(0);
        &:before,
        &:after {
            content: "";
            background: var(--icon);
            position: absolute;
            transition: background 0.2s linear, box-shadow 0.2s linear;
        }
        &:before {
            left: -5px;
            bottom: 0;
            height: 12px;
            width: 4px;
            border-radius: 1px 1px 0 1px;
        }
        &:after {
            right: -3px;
            top: 0;
            width: 4px;
            height: 4px;
            border-radius: 0 2px 2px 0;
            background: var(--icon);
            box-shadow: -0.5px 4px 0 var(--icon), -1px 8px 0 var(--icon),
                -1.5px 12px 0 var(--icon);
            transform: scaleY(0.6825);
            transform-origin: 0 0;
        }
        .thumb {
            background: var(--icon);
            width: 10px;
            height: 4px;
            border-radius: 2px;
            transform-origin: 2px 2px;
            position: absolute;
            left: 0;
            top: 0;
            transition: transform 0.25s, background 0.2s linear;
            transform: scale(0.85) translateY(-0.5px)
                rotate(var(--hand-thumb-1, -45deg)) translateZ(0);
            &:before {
                content: "";
                height: 4px;
                width: 7px;
                border-radius: 2px;
                transform-origin: 2px 2px;
                background: var(--icon);
                position: absolute;
                left: 7px;
                top: 0;
                transition: transform 0.25s, background 0.2s linear;
                transform: rotate(var(--hand-thumb-2, -45deg)) translateZ(0);
            }
        }
    }
    .hand,
    span {
        display: inline-block;
        vertical-align: top;
        span {
            opacity: var(--span-d-o, 0);
            transition: transform 0.25s, opacity 0.2s linear;
            transform: translateX(var(--span-d-x, 4px)) translateZ(0);
        }
    }
    & > span {
        transition: transform 0.25s;
        transform: translateX(var(--span-x, 4px)) translateZ(0);
    }
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: inherit;
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

// Center & dribbble
body {
    min-height: 100vh;
    display: flex;
    font-family: "Inter", Arial;
    justify-content: center;
    align-items: center;
    background: #f6f8ff;
    .button {
        margin: 0 12px;
    }
    .dribbble {
        position: fixed;
        display: block;
        right: 20px;
        bottom: 20px;
        img {
            display: block;
            height: 28px;
        }
    }
    .twitter {
        position: fixed;
        display: block;
        right: 64px;
        bottom: 14px;
        svg {
            width: 32px;
            height: 32px;
            fill: #1da1f2;
        }
    }
}
